{{define "index"}}
    <head>
        {{template "header"}}
        <style>
            .jumbotron{
                margin: 10px;
            }
        </style>
    </head>
    <body>
    {{template "nav"}}

    <div class="container">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade" id="nav-overview" role="tabpanel" aria-labelledby="nav-overview-tab">There will be an overview here!</div>
            <div class="tab-pane fade" id="nav-new-tree" role="tabpanel" aria-labelledby="nav-new-tree-tab">add tree</div>
            <div class="tab-pane fade" id="nav-add-stars" role="tabpanel" aria-labelledby="nav-add-stars-tab">Add some stars!</div>
            <div class="tab-pane fade" id="nav-draw-tree" role="tabpanel" aria-labelledby="nav-draw-tree-tab">Draw one of the galaxies!</div>
        </div>
    </div>

    {{template "javascript"}}
    </body>
{{end}}
