{{define "overview"}}
    <head>
        {{template "header"}}
    </head>
    <body>
        {{template "nav"}}
        <div id="wrap">
            <div class="container">
                <h3>Existing galaxies</h3>
                <table cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Index</th>
                            <th>Boundary</th>
                            <th>Amounf of stars</th>
                            <th>Range</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr class="gradeX">
                            <td>1</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="gradeX">
                            <td>2</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="gradeX">
                            <td>3</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>

                    <tfoot>
                    </tfoot>
                </table>
            </div>
        </div>

        {{template "javascript"}}
    </body>
{{end}}